*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
background-image: url(images/software.jpg);
  text-align: center;
  font-family: "roboto" sans-serif;
  font-weight: 500;
  font-style: normal;
}


section ol p{
  color: white;
}
 
header h3 b u {
  text-align: right;
  background-color: black;
  color: violet;
}
.hover-image img{
 max-width: 30%;
 border-radius: 100%; 
}

.hover-image {
  width: 400px;
  height: auto;
  transition: opacity 0.3s ease;
}

/* Reduces the image opacity to 70% */
.hover-image:hover {
  opacity: 0.7; 
}


/* Zooms in the image by 10% */
.hover-image:hover {
  transform: scale(1.1);
}

header{
  background-color: rgb(55, 117, 120);
  color: rgb(46, 24, 24);
}

section h3 i {
  color: violet;
}

 header nav ul li{
  display: inline;
  margin-left: 42px;
}

section h3{
  font-weight: 900;
  margin-bottom: 12px;
  text-transform: uppercase;
}

h2 {
  color: rgb(189, 153, 141);
  background-color: aqua;
}

h3 {
  color: floralwhite;
  background-color: black;
}

h4 {
  color: darkkhaki;
  background-color: green;
}

section#about {
  margin: 45px;
}

section#contact .flex{
  display: flex;
  color: rgb(234, 23, 164);
}

section#contact .left{
  width: 28%;
}

section#contact .right form .name,
section#contact .right form .email{
  width: 52%;
}

section#contact .right form .name {
  padding-right: 11px;
}

section#contact .right form input{ 
  height: 26px;
}

section#contact .right form input,
section#contact .right form textarea{
  width: 100%;
  padding: 11px 6px;
}

section#contact .right form label {
display: block;
font-size: 0.84em;
margin-bottom: 6px;
}

a:any-link{
  text-align: right;
}

a:hover {
  color: rgb(102, 255, 0);
}

footer u h3{
  color: violet;
}

footer{
  padding: 19px 0;
  text-align: center;
  text-decoration: solid;
  background-color: rgb(103, 133, 225);
}