*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(77, 101, 53);
  text-align: center;
}
ul {
  font-family: helvetica neue, roboto;
}
ul li{
  display: inline;
}
h2 {
  color: rgb(189, 153, 141);
  background-color: aqua;
}
h3 {
  color: floralwhite;
  background-color: black;
}
h4 {
  color: darkkhaki;
  background-color: green;
}
section{
  margin: 45px;
}